


# PDF Processing
PyMuPDF
spacy==3.7.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz

# Data Processing
pandas
numpy
tqdm

# NLP
scikit-learn
nltk
# Optional but recommended
torch==2.1.2
transformers==4.36.2
sentence-transformers==2.3.1
